
    body {
            font-family: Arial, sans-serif;
            background-color: #b9b7b7;
         

        }
        
        .container {
            max-width: 400px;
            margin: 100px auto 0 auto;;
            padding: 40px;
            background-color: #ffffff;
            border-radius: 15px;
            box-shadow: 0 2px 5px rgba(3, 3, 3, 0.1);
        }
        
        .form-group {
            margin-bottom: 22px;
        }
        
        .form-group label {
            display: block;
            font-weight: bold;
           
        }
        
        .form-group input[type="text"],
        .form-group input[type="number"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        .form-group input[type="checkbox"] {
            margin-right: 5px;
        }
        
        .form-group input[type="submit"] {
            display: block;
            width: 100%;
            padding: 15px;
            background-color: #fa4444;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .form-group input[type="submit"]:hover {
            background-color: #e64646;
        }
        #myButton {
            display: block;
            width: 100%;
            padding: 15px;
            background-color: hwb(46 34% 9%);
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .button:hover {
            background-color: #e64646;
        }